#carouselExample {
    /*Тень задаём в стилях, т.к. в бутстрапе нет предложения*/
    box-shadow: 0px 0px 4px black;
    /* Радиус скругления можно задать в стилях либо в бутстрапе */
    /* border-radius: 5px; */
}

/*если картинки разных размеров можно подстроить их по высоте или ширине*/
.carousel-item img {
    height: 250px;
    /*контейн - уменьшает картинку чтоб влезля вся в блок, либо ковер- растягивает заполняя пустые места но скрывая то что не влезло*/
    object-fit: cover;
    object-position: center;
    /*обджект посишон функция - откуда будет начинаться просмотр слева справа сверху и снизу или центр*/
}

h2{
    color: black;
    font-size: 24px;
}