@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Special+Gothic+Expanded+One&display=swap');

:root {
    --accent-color: #e45b00;
    --text-color: #ffffff;
    --bg-color: #000000;
}

* {
    box-sizing: border-box;
}


body {
    color: var(--text-color);
    margin: 0px auto;
    background: var(--bg-color);
    /* padding: 30px; */
}

a {
    text-decoration: none;
    color: var(--text-color)
}

header {
    margin: 0 auto;
    font-size: large;
    font-weight: bold;
    /* background: linear-gradient(#0000 70%, var(--bg-color)), url(../imgs/images/tricking-showact.jpg) center/cover; */
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, var(--bg-color) 100%), url(../imgs/images/tricking-showact.jpg) top center / cover no-repeat var(--bg-color);
    min-height: 100vh;
    /* position: relative; */
    /* top: 0; */
    /* background-position: center; */
    /* height: 1080px; */
    /* width: 100%; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
}

.header-navigations {
    padding: 20px;
    /* height: 50px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    /* top: 0; */
    /* background: linear-gradient(0deg, rgba(34, 193, 195, 0) 0%, rgba(0, 0, 0, 0.78) 10%, rgba(0, 0, 0, 1) 40%); */

}



.logotype {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

h2, .logotype p, header a{
    color: var(--accent-color)
}

.logotype span{
    color: var(--text-color)
}

.logo {
    /* position: absolute; */
    background: white;
    border-radius: 50%;
    width: 50px;
    /* object-position: center; */
    top: 0px;
    left: 0px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    filter: invert(1);
    animation: animate 5s linear infinite;

}

/* .logo-shadow-circle {
    top: 0px;
    left: 0px;
    /* object-position: center;

    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px 0px linear-gradient(208deg, rgba(0, 125, 11, 1) 0%, rgba(41, 45, 86, 1) 50%, rgba(163, 0, 0, 1) 100%)black;
    box-shadow: 0 0 10px black;
    animation: animate 1s linear infinite;
} */




@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.header-nav {
    width: 55%;
    display: flex;
    justify-content: space-between;
    /* background-color: #00000095; */
}

.links {
    display: flex;
    align-items: center;
    /* justify-content:center */
    gap: 20px;
    font-family: "Oswald", sans-serif;
    }

    li:first-child{
        display: none;
    }




.account {
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: center;
    /* background-color: rgb(109, 55, 55); */
    cursor: pointer;
    gap: 10px;
}

#burger-btn-menu {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px #ffffff;
    object-position: center;
    z-index: 10;
    /* color: aliceblue; */


}

/* .header-hero { */
/* width: 500px; */
/* position: relative; */
/* font-size: 50px; */
/* font-family: "Oswald", sans-serif; */
/* text-transform: uppercase; */
/* margin: 500px auto auto 750px; */
/* align-items: center; */
/* } */


/* #burger-btn-menu, #burger-btn-menu-close {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 0 20px #fff;
    background-color: black;
} */
.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 30px;
    height: 26px;
    margin: 12px auto;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #ffffff;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #ffffff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}



@media screen and (max-width: 900px) {

    #burger-btn-menu {
        display: block;
    }

    .header-nav {
        position: absolute;
        height: 100vh;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0px;
        padding-top: 20px;
        padding: 100px 0px;
        /* background: white; */
        background-color: #00000095;
        transition: 1s;
        right: -400px;
        /* z-index: 10000; */
    }

    .links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    li:first-child{
        display: block;
    }

    .account {
        /* margin-bottom: 50px; */
        display: flex;
        flex-direction: column;
    }

    .account img {
        background: black;
        width: 50px;
    }
}