@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&family=Special+Gothic+Expanded+One&display=swap');

:root {
    --accent-color: rgb(255, 84, 48);
    --text-color: #ffffff;
    --bg-color: #000000;
    --font-accent: "Special Gothic Expanded One", sans-serif;
    --font-normal: "Oswald", sans-serif;
    --font-hero: "Roboto", Arial, sans-serif;
    --font-headline: "Rubik Doodle Shadow", system-ui;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

.logotype p,
header a,
.hero h1 {
    color: var(--accent-color)
}

.logotype span,
.hero span {
    color: var(--text-color)
}

.hero h1 {
    font-family: var(--font-hero);
    font-weight: 900;
    text-shadow:
        1px 1px 2px var(--bg-color),
        0 0 1em var(--bg-color),
        0 0 0.2em;
}

.headline2 {
    margin: 0 auto;
    width: max-content;
    color: var(--accent-color);
    font-size: 50px;
    font-family: var(--font-headline);
    letter-spacing: 10px;
    font-weight: 900;
    margin-bottom: 80px;
    border: 5px solid var(--accent-color);
    border-style: solid none solid none;
}

.headline3 {
    font-size: 36px;
    font-family: var(--font-accent);
    color: var(--accent-color);
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.headline4 {
    font-family: var(--font-normal);
    font-size: 32px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 40px;
    text-decoration: underline;
}

.simple-text,
.instructor-job,
.instructor-card q,
a,
.account,
.contacts-address p,
footer h5,
footer h2,
footer p {
    font-size: 20px;
    font-family: var(--font-normal);
}

.font-style-text {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    text-align: justify;
}

body {
    line-height: 1.5;
    color: var(--text-color);

    background-color: #000000;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, var(--bg-color) 100%), url(../imgs/images/tricking-showact.jpg), var(--bg-color);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sec-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.padding-top {
    padding-top: 70px;
    scroll-margin-top: 50px;
}


/*-----Хэдер-----*/
header {
    position: sticky;
    width: 100%;
    top: 0;
    left: auto;
    z-index: 1000;
    /* scroll-margin-top: 1em; */
    background: linear-gradient(0deg, rgb(0 0 0 / 12%) 0%, rgb(0 0 0 / 61%) 10%, rgb(0 0 0 / 92%) 25%, rgb(0 0 0) 100%);
}

.header-container {
    padding: 0 40px;
}

.header-navigations {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype {
    font-family: var(--font-accent);
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    vertical-align: middle;
}

.logotype,
.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    vertical-align: middle;
    filter: brightness(10);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--text-color);
}

.account {
    display: flex;
    gap: 10px;

}

.account:hover {
    color: var(--accent-color);
}

.account img {
    width: 30px;
    height: 30px;
}

.account span {
    vertical-align: middle;
    cursor: pointer;
}



#burger-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
}

#burger-menu a:hover {
    color: wheat;
    text-decoration: underline;
}

#burger-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 12px;
    z-index: 1001;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--text-color);
    width: 50px;
    height: 50px;
}

#burger-btn-menu-close {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 12px;
    z-index: 1001;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--text-color);
}

#burger-btn-menu-close:hover,
#burger-btn:hover {
    box-shadow: 0 0 20px var(--accent-color);

}

.menu-burger__line {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: var(--transition);
}

@media screen and (max-width: 920px) {

    #burger-menu {
        overflow: hidden;
        height: 100vh;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        background: #000000f1;
        box-shadow: 8px 0px 8px 0px rgba(255, 255, 255, 0.2);
        transition: 1s;
        left: -400px;
    }

    .links {
        border-color: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        gap: 50px;
    }



    #burger-btn {
        display: block;
    }

    #burger-menu a {
        padding: 10px 35px;
        align-items: center;
        text-decoration: none;
        color: var(--accent-color);
        transition: 1s;
        width: 100%;
    }

    #burger-btn-menu-close {
        position: absolute;
        bottom: 20px;
        display: block;
        color: rgb(255, 255, 255);
    }

    .menu-burger-close__line {
        position: relative;
        display: block;
        /* width: 25px; */
        height: 2px;
        background-color: var(--text-color);
    }

    .menu-burger-close__line:first-child {
        transform: translateY(10%) rotate(-45deg);
    }

    .menu-burger-close__line:last-child {
        transform: translateY(-100%) rotate(45deg);
    }

    .account {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .account img {
        width: 50px;
        height: 50px;
    }

}


/*-----Мэйн-----*/
main {
    text-align: center;
}

.main-bord {
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(150, 150, 150, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5.6px) saturate(100%);
    border: 1px solid rgba(235, 235, 235, 0.2);
    border-radius: 15px;
    padding: 0px 50px;
}

/*-Секция "Герой"-*/
.hero {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.hero-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero p {
    font-family: var(--font-hero);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.head-arrow {
    position: absolute;
    bottom: 10px;

}

.hero-btn {
    display: block;
    font-family: var(--font-normal);
    background: var(--accent-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px;
}

.hero-btn:hover {
    display: block;
    font-family: var(--font-normal);
    background: var(--accent-color);
    color: var(--text-color);
    box-shadow: 0 0 10px var(--text-color);
    transform: scale(1.1);
}

.hero-btn:active {
    font-family: var(--font-normal);
    background: var(--accent-color);
    color: var(--text-color);
    box-shadow: 0 0 10px var(--text-color);
    transform: scale(0.9);
}




/*-Секция "О Нас"-*/
.about-us-container {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


/*-Секция "Направления"-*/
.dir-card-element {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.direction-cards {
    width: 100%;
    height: 500px;
    display: flex;
    overflow: hidden;
    gap: 20%;
}

.direction-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    min-width: 100%;
    position: relative;
    transition: 1s;
}

.dir-card-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    filter: grayscale(1);
}

.dir-card-element a {
    color: var(--accent-color);
    padding: 20px;
}

.card-element-text {
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

/*Кнопки слайдера*/
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.buttons button {
    width: 50px;
    height: 10px;
    border-radius: 10px;
    margin: 15px 5px;
    cursor: pointer;
}

.buttons button:hover {
    border: 2px solid var(--bg-color);
    box-shadow: 0 0 10px var(--accent-color);
}


/*-Секция "Инструкторский состав"-*/

.instructor-cards {
    display: flex;
    justify-content: space-evenly;
}

.instructor-description img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}



.instructor-name {
    width: 250px;
    margin: 0 auto;
    font-size: 26px;
    font-weight: 900;
    font-style: italic;
    border-bottom: 1px solid var(--accent-color);
}

.instructor-card q {
    display: block;
    background-color: var(--accent-color);
    color: var(--bg-color);
    line-height: 1.2;
    max-width: 255px;
    margin: 0 auto;
}

.instructors-text {
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    margin: 20px 0;
    padding: 20px;
}



/*-Секция "Информация"-*/
.contacts-address {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail-numbers-address {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}


.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}


/*-----ФУТЕР------*/

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer-logo {
    height: 300px;
    background-image: url(../imgs/logo.png), radial-gradient(circle, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: var(--font-accent);
    color: var(--accent-color);
}

.footer-logo span {
    color: var(--text-color);
}

.footer-btn-style {
    font-family: var(--font-normal);
    background: var(--accent-color);
}

.footer-icons {
    display: flex;
    gap: 20px;
    border-radius: 50%;
}

.footer-icons img {
    filter: invert(1);
    width: 30px;
    height: 30px;
}




/*=====Медиазапросы=====*/


@media (min-width: 800px) and (max-width: 1200px) {

    .logo-text {
        font-size: 22px;
    }

    .headline2 {
        font-size: 32px;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    .headline3,
    .headline4 {
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .font-style-text {
        font-size: 18px;
        text-align: justify;
    }

    footer {
        padding: 0 40px;
    }

    main {
        margin: 0 40px;
    }

    .main-bord {
        padding: 0px 20px;
    }

    .card-element-gif {
        height: 70%;
    }

    .buttons {
        margin: 0;
    }

    .about-us-container {
        padding: 0 40px;
    }

}

@media screen and (max-width:992px) {
    body {
        background-size: auto 80%;
    }
}

@media screen and (max-width:768px) {
    body {
        background-size: auto 65%;
    }
}

@media screen and (min-width:550px)and (max-width:768px) {
    .footer-logo {
        background-size: 70% auto;
    }
}



@media screen and (max-width:576px) {
    body {
        background-size: auto 50%;
    }
}

@media screen and (max-width:500px) {
    body {
        background-size: auto 35%;
    }
}

@media screen and (min-width: 374px) and (max-width: 800px) {
    .logo-text {
        font-size: 22px;
    }

    .headline2 {
        font-size: 24px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .headline3,
    .headline4 {
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .font-style-text {
        font-size: 18px;
        text-align: justify;
    }

    .main-bord {
        margin: 0 20px;
        padding: 0px 20px;
    }

    .mail-numbers-address {
        flex-direction: column;
        align-items: center;
    }

    .sec-container {
        padding: 0 20px;
    }

    .direction-cards {
        height: max-content
    }

    .direction-card {
        flex-direction: column;
    }

    .dir-card-element {
        margin: 0 auto;
        width: 100%;
    }

    .dir-card-element img {
        width: 100%;
        overflow: hidden;
    }

    .card-element-text {
        height: max-content;
        padding: 20px 0;
    }

}


@media (max-width: 374px) {

    .logo-text {
        font-size: 16px;
    }

    .headline2 {
        font-size: 22px;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }

    .headline3,
    .headline4 {
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .font-style-text {
        font-size: 16px;
        text-align: justify;
    }

    .main-bord {
        padding: 0px 20px;
    }

    .mail-numbers-address {
        flex-direction: column;
        align-items: center;
    }

    .sec-container {
        padding: 0 20px;
    }

    .direction-cards {
        height: max-content
    }

    .direction-card {
        flex-direction: column;
    }

    .dir-card-element {
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
    }

    .dir-card-element img {
        width: 100%;
    }

    .card-element-text {
        padding: 0;
        padding-bottom: 100px;
    }

    .sec-container {
        flex-direction: column;
        align-items: center;
    }
}