.box{
    width: 200px;
    height: 200px;
    background: linear-gradient(darkblue, darkcyan);
position: absolute;
left: 200px;
top: 200px;
animation: rotate 10s;

}

@keyframes rotate{
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
}